@media all and (min-width: 480px) {
  .Login {
    padding: 15px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}
.main-div {
  padding: 30px;
  color: "#ffff";
}
.validation {
	border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
}
.validation {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}