@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d3d3d3;
}

/* HOME PAGE */
.main-div {
  padding-left: "12%";
  padding-right: "12%";
  padding-top: "5%";
}
.child-div {
  border: 1px solid #dcdcdc;
  background-color: "#fff";
  padding: "7%";
}
.imageStyles {
  height: 55%;
  width: 100%;
}
.vertical-center {
  padding: auto;
  margin: auto;

  position: relative;
  top: 70%;
  padding-left: 10%;
}
.btnContainer {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}
.homeButton {
  padding: 10% 20%;
  font-size: 200%;
  border-radius: 10px;
  text-decoration: bold;
}
/* 2nd part */
.float-container {
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.float-container-mobile {
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.float-child {
  float: left;
  padding-left: "20px";
}

/* .float-child-img {
  float: left;
} */

/* chatbot-div-styles */
.chatbot-div-styles {
  /* border: 1px solid #dcdcdc; */
}
.chatbot-img-styles {
  /* float: right;*/
}

/* 5th part */
.more-info-img-styles {
  height: 70%;
}
.more-info-img-styles-mobile {
  height: 100%;
  width: 100%;
}

/* ///////////////////////OPTIONS/////////////////////////// */
.option-search-styles {
  width: 75%;
  height: 75%;
}

.img-size-browser {
  width: 60%;
  height: 70%;
  text-align: center;
  display: block;
}
.img-size-browser-1 {
  width: 80%;
  height: 90%;
  text-align: center;
  display: block;
}
.img-size-mobile {
  width: 70%;
  height: 60%;
  text-align: center;
}
.float-container-mobile-full {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

/* questions */
.block-example {
  background-color: #fff;
  display: inline-block;
}
.btn-toolbar {
  display: flex;
  justify-content: space-between;
}

.left-group {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.right-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* SEARCH */
.search {
  width: 20%;
}
/* USER INFO */
/* USERNAME */
.fname {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.f-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3%;
  margin-left: 0%;
  box-sizing: border-box;
  text-align: left;
}
.bsubmit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.fname-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.bsubmit-mobile {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bsubmit:hover {
  background-color: #45a049;
}

.button {
  background-color: #1DA1F2; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {border-radius: 8px;}

.validation {
	border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
}
.validation {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}